 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #641e1e;
    max-width: 100%;
    border-radius: 1rem;
    margin: 1rem 1.25rem;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}  

    & h1 {
    color: #cfb53b;
    margin-top: 5px;
    text-align: center;
    font-family: lumanosimo, sans-serif;
    font-size: 3rem;


}


.grid__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}


.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card-gryffindor:hover {
    background-color: #ae0001;
    color: gold;
    & h2 {
        color: gold;
    }
}

.card-slytherin:hover {
    background-color:#1a472a;
    color: white;
    & h2 {
        color: white;
    }
}

.card-ravenclaw:hover { 
    background-color: #222f5b;
    color:antiquewhite;

    & h2 {
        color: antiquewhite;
    }
}
.card-hufflepuff:hover {
    background-color: #ecb939;
    color: black;
    & h2 {
        color: black;
    }
}

.img__container {
    height: 400px;
    overflow: hidden;
}

.img__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.card__content {
    padding: 15px;
    text-align: left;
}

.card__content h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}